html,
body {
  min-width: 320px;
  min-height: 200px;
  width: 100%;
  height: 100%;
}

button {
  padding: 0.4em 0.8em;
}

.glb-bg-color {
  background-color: #7da888;
}

#root,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.dimm {
  background-color: black;
  opacity: 0.5;
}

.no-cursor {
  pointer-events: none;
}

.centering-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hori-centering {
  display: flex;
  width: 100%;
  justify-content: center;
}

.input-cont {
  padding: 1.5em 2em;
  font-size: 1.2rem;
}

.input-cont input {
  margin-left: 0.5em;
}

.text-cont {
  text-align: center;
}

.heading-txt {
  font-size: 2rem;
  font-weight: bold;
}

.waiting-room-cont {
  max-width: 800px;
  aspect-ratio: 5 / 3;
  width: 80%;
  padding: 1.5em 2em;
}

.waiting-room-cont .team-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  color: white;
}

.waiting-room-cont .team-list .team-item {
  border: 1px solid black;
  background-color: rgb(90, 101, 106);
  border-radius: 0.6em;
  padding: 0.4em;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list .team-item .team-header-btn {
  display: block;
  font-weight: 800;
  text-align: center;
  border: solid 2px black;
  border-radius: 0.6em;
}
.team-list .team-item .team-header-btn:hover {
  opacity: 0.8;
}

.team-header-btn.team-red {
  background-color: #e07972;
  color: white;
}

.team-header-btn.team-blue {
  background-color: #7293e0;
  color: white;
}

.team-list .team-item .member-list {
  margin-top: 0.8em;
}

.start-btn {
  margin-top: 1em;
  width: 10em;
  height: 2em;
  font-weight: bold;
}
